.announcements-index ng-controller="AnnouncementsIndex"
  container
    row
      grid.span12
        div.annbox ng-repeat="ann in announcements"
          announcement announcement="ann" layout="big"

  /= link_to "Add an announcement", new_meetup_announcement_path(meetup)
