.recent-announcement
  .announcement.well.well-small
    margin-bottom: 10px

  .recent-control
    margin-bottom: 20px

.announcements-order-editor
  .box
    border-width: 1px
    border-style: dotted
    margin: 5px
    padding: 5px

  .options-save
    margin-top: 50px
    ul
      list-style-type: none

.announcement
  li
    list-style-type: none
  .display-name
    font-size: 16px
